
<tr>
  <td>
    {% if part.img and part.website %}
    <a href="{{ part.website }}"> <img class="part-img" src="{{ part.img }}" alt="{{ part.name }}"  title="{{ part.name }}"></a>
    {% elsif part.img %}
    <img class="part-img" src="{{ part.img }}" alt="{{ part.name }}" title="{{ part.name }}">
    {% else %}
    <img class="part-img" src="/imgs/gw_monogram_2c.png" alt="{{ part.name }}" title="{{ part.name }}">
    {% endif %}
  </td>
  <td>
    <ul>
      <li>
        {% if part.website %}
        <a href="{{ part.website }}"> {{ part.name }}</a>
        {% else %}
        {{ part.name }}
        {% endif %}
      </li>
      <ul>
        {% if part.title %}<li> {{ part.title }} </li> {% endif %}
        {% if part.adv %}<li> Advisor: {{ part.adv }} </li> {% endif %}        
        {% if part.school %}<li> {{ part.school}} </li> {% endif %}
        {% if part.int %}
        <li> Interests: {{ part.int }} </li>
        {% endif %}
        {% if part.class %}
        <li> Relevant Courses: {{ part.class }}</li>
        {% endif %}
      </ul>
    </ul>
  </td>
</tr>
